<div class="contadiner">
  <div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">It looks like this is your first time logging in. Let's get you started!</p>
    <!-- <hr class="my-4"> -->
  </div>

  <div class=container>
    <div>
      <div>
        Are you an organizer or an attendee?
      </div>
      <div>
        (don't worry, you can always add classes later)
      </div>
    </div>
    <mat-card>
      <span class="mr-2">I am an:</span>
      <mat-form-field>
        <mat-select [(value)]="selectedRole" placeholder="Choose your role">
          <mat-option *ngFor="let option of options" [value]="option.value" [routerLink]="[option.link]">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

  </div>
  <router-outlet></router-outlet>

</div>