<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="organization.days.M"> M
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="organization.days.T"> T
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="organization.days.W"> W
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="organization.days.R"> R
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="organization.days.F"> F
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="organization.days.S"> S
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="organization.days.U"> U
  </label>
</div>
<div>
  <span *ngIf="organization.days.M">Mon. </span>
  <span *ngIf="organization.days.T">Tues. </span>
  <span *ngIf="organization.days.W">Weds. </span>
  <span *ngIf="organization.days.R">Thur. </span>
  <span *ngIf="organization.days.F">Fri. </span>
  <span *ngIf="organization.days.S">Sat. </span>
  <span *ngIf="organization.days.U">Sun. </span>
</div>
<!-- <pre>{{days | json}}</pre> -->