<p>home works!</p>
<div class="container">
  <div *ngIf="attendsClasses()">
    <h3>Classes you attend:</h3>
    <!-- <mat-divider></mat-divider> -->
    <div *ngFor="let cl of aclasses">
      <div>
        <h4>{{ cl.name }}</h4>
        <div>ID : {{ cl.classID }}</div>
        <div *ngIf="cl.isMeetingNow()">Class is now!!</div>
        <div *ngIf="!cl.isMeetingNow()">
          No Meeting at this time.
          <div>Next meeting: {{ cl.nextMeeting().from.toLocaleString() }}</div>
        </div>
        <button
          *ngIf="cl.curMeeting && cl.canCheckIn(coords)"
          (click)="checkIn(cl)"
          mat-button
        >
          Check in!
        </button>
        <div></div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="ownsClasses()">
      <h3>Classes you own:</h3>
      <!-- <mat-divider></mat-divider> -->
      <div *ngFor="let cl of ownClasses()">
        <div>
          <h4>{{ cl.name }}</h4>
          <div>
            Sign up link:
            <a *ngIf="origin" [href]="'/signup/' + cl.classID">{{
              origin + "/" + cl.classID
            }}</a>
          </div>
          <div></div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</div>
